@import '/src/global.scss';
.div{
    width: 100vw;
    background-color: $black;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    &_title{
        color: $white;
        margin-top: 1em;
    }
    &_border{
        border: 1px solid $white;
        border-radius: 8px;
        width: 70%;
        height: 400px;
        margin:2em 0;
        form{
            margin: 2em;
        }
    }
}