// página principal mobile
@import '/src/global.scss';
.main{
    height: 100vh;
    background-image: url('./content/bkgMobile.png');
    width: 100%;
    &_{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        &_section{
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 40%;
            header{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin-bottom: 3em;
                img{
                    width: 200px;
                    margin-bottom: 1em;
                }
                h4{
                    color: $white;
                }
            }
            &_body{
                 width: 100%;
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 align-items: center;
                 &_btn1{
                    width: 60%;
                 }
                 &_btn2{
                    width: 70%;
                 }
                 p{
                    text-align: center;
                    color: $white;
                    margin: 1em 0;
                 }
            }
        }
    }
}
// página principal médio
@media screen and (min-width: 450px) {
    .main{
        background-image: url('./content/bkgDesktop.png')
    }
}
// página principal desktop
@media screen and (min-width: 650px) {
    .main{
        display: flex;
        justify-content: end;
        &_{ 
            margin-right: 12em;
            &_section{
                header{
                    img{
                        width: 500px;
                    }
                }
            }
        }
    }
}